@font-face {
    font-family: "Druk";
    src: url(./fonts/DrukCondCy-Super-Web.woff2) format(woff2);
}

@font-face {
    font-family: "Ma";
    src: url(./fonts/NGS6v5_NC0k9P9H2TbFhsqMA.woff2) format(woff2);
}

:root {
    --washedBlack: #1b1b1b;
    --offWhite: #e4e4e4;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3f3f3f;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--washedBlack);
}

nav h1 {
    font-size: 3em;
    cursor: pointer;
    transition: all .3s ease-out;
}

nav h1:hover {
    color: orangered;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    position: relative;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    transform: translateY(3px);
    background-color: orangered;
    transition: width .3s ease-out;
}

nav ul li a:hover:after {
    width: 100%;
}

h1 {
    font-family: "Druk", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: var(--offWhite);
}

p, li, a {
    font-family: "Ma", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: var(--offWhite);
}

.highlight {
    color: orangered
}

.contentHero {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3fr 1fr 1fr;
    align-self: center;
    justify-items: center;
    border-left: solid 10px var(--washedBlack);
    border-right: solid 10px var(--washedBlack);
}

.content {
    padding: 50px;
    padding-bottom: 0;
    background-color: var(--washedBlack);

}

.content p {
    padding-bottom: 20px;
}

.portImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portImgContainer {
    columns: 28dvw;
    background-color: var(--washedBlack);
}

.portImgContainerLoft {
    column-fill: balance;
    background-color: #000;
}

.portImgLoft {
    max-height: 540px;
    max-width: 100dvw;
}

.profilePicture {
    object-position: center;
    filter: grayscale(1) brightness(.4);
    border: 0;
    transition: all .3s ease;
    max-width: 90dvw;
    max-height: 80dvh;
    height: auto;
    grid-column: 1 /3;
    grid-row: 1/4;
}

#whatIdo {
    grid-column: 1/3;
    grid-row: 2;
    z-index: 999;
    font-size: clamp(1rem, 2.3908rem + 4.3495vw, 16.75rem);
}

#whereIdoit {
    grid-column: 1/3;
    grid-row: 3;
    z-index: 999;
    font-size: clamp(1rem, 2.3908rem + 4.3495vw, 16.75rem);
    color: orangered;
}

.portTitle {
    font-size: clamp(2rem, 4.3908rem + 5.3495vw, 16.75rem);
}

.portImg {
    max-width: 30dvw;
    height: auto;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px;
    background-color: var(--washedBlack);
}

.wjLogo {
    max-width: 200px;
    margin-left: auto;
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .wjLogo {
        max-width: 200px;
        margin: auto;
        margin-top: 30px;
    }
}