@font-face {
    font-family: "Druk";
    src: url(./fonts/DrukCondCy-Super-Web.woff2) format(woff2);
}

@font-face {
    font-family: "Ma";
    src: url(./fonts/NGS6v5_NC0k9P9H2TbFhsqMA.woff2) format(woff2);
}

:root {
    --washedBlack: #1b1b1b;
    --offWhite: #e4e4e4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3f3f3f;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--washedBlack);
}

nav h1 {
    font-size: 3em;
    cursor: pointer;
    transition: all .3s ease-out;
}

nav h1:hover {
    color: orangered;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    position: relative;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    transform: translateY(3px);
    background-color: orangered;
    transition: width .3s ease-out;
}

nav ul li a:hover:after {
    width: 100%;
}

h1 {
    font-family: "Druk", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: var(--offWhite);
}

p, li, a {
    font-family: "Ma", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: var(--offWhite);
}

.highlight {
    color: orangered
}

.contentHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}

.content {
    padding: 50px;
    padding-bottom: 0;
    box-shadow: var(--washedBlack) 0px 20px 20px 20px;
}

.content:nth-of-type(even) {
    background-color: var(--washedBlack);
}

.portImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portImgContainer {
    columns: 28dvw;
}

.block {
    display: block;
}

.profilePicture {
    max-height: calc(100dvh - 100px);
    filter: grayscale(1);
    grid-column: 1;
    grid-row: 1/3;
    transition: all .3s ease;
    border-left: var(--washedBlack) solid 40px;
}

.profilePicture:hover {
    filter: grayscale(0);
    border-color: orangered;
}

#whatIdo {
    margin-top: auto;
    grid-area: 1 / 2;
    font-size: clamp(1rem, 2.3908rem + 4.3495vw, 16.75rem);
}

#whereIdoit {
    margin-bottom: auto;
    grid-area: 2 / 2;
    font-size: clamp(1rem, 2.3908rem + 4.3495vw, 16.75rem);
    color: orangered;
}

.portTitle {
    font-size: clamp(2rem, 4.3908rem + 5.3495vw, 16.75rem);
}

.portImg {
    max-width: 30dvw;
    height: auto;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: var(--washedBlack);
}

.wjLogo {
    max-width: 200px;
    margin-left: auto;
}

@media only screen and (max-width: 1200px) { 

    .contentHero {
        display: grid;
        grid-template-areas: 1 / 1;
    }

    .profilePicture {
        filter: grayscale(1) brightness(.4);
        transition: all .3s ease;
    }

    .profilePicture:hover {
        filter: grayscale(0);
    }

    #whatIdo {
        grid-area: 1 / 1;
        z-index: 999;
    }
    
    #whereIdoit {
        grid-area: 1 / 1;
        z-index: 999;
    }

}